<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<form action="/member/join" method="post">
    <div>
        <span>아이디 : </span>
        <input type="text" name="memberId">
    </div>
    <div>
        <span>비밀번호 : </span>
        <input type="password" name="memberPwd">
    </div>
    <div>
        <span>이름 : </span>
        <input type="text" name="memberName">
    </div>
    <div>
        <button>회원가입</button>
    </div>
</form>
</body>
</html>