<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>
<h1>마이 페이지</h1>
<th:block sec:authorize="isAuthenticated()">
    <h3>principal : <span sec:authentication="principal"></span></h3>
    <h3>principal.username : <span sec:authentication="principal.username"></span></h3>
    <h3>principal.memberNo : <span sec:authentication="principal.memberNo"></span></h3>
    <h3>principal.memberId : <span sec:authentication="principal.memberId"></span></h3>
    <h3>[[${#authentication.principal.memberName}]]님 환영합니다.</h3>
</th:block>
</body>
</html>