<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>튜터 회원가입</title>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script type="text/javascript" th:src="@{/js/event.js}"></script>
  </script>
</head>
<body>
<h1>튜터 가입 페이지</h1>
<form action="/member/signup_as_tutor" method="post">
  <div>
    <span>아이디: </span>
    <input type="text" name="memberId" id="memberId">
    <input type="button" value="중복확인" class="btn btn-bs" id="duplicationCheck"></td>
  </div>
  <div id="messageDiv"></div>
  <div>
    <span>비밀번호: </span>
    <input type="password" name="memberPw">
  </div>
  <div>
    <span>닉네임: </span>
    <input type="text" name="memberNickname">
  </div>
  <div>
    <span>이름: </span>
    <input type="text" name="memberName">
  </div>
  <div>
    <span>전화번호: </span>
    <input type="tel" name="memberPhoneNumber">
  </div>
  <div>
    <span>이메일: </span>
    <input type="email" name="memberEmail">
  </div>
  <div>
    <span>우편번호: </span>
    <input type="text" name="zipCode" id="zipCode" readonly>
    <input type="button" value="검색" class="btn btn-yg" id="searchZipCode">
  </div>
  <div>
    <span>주소: </span>
    <input type="text" name="address1" id="address1" readonly>
  </div>
  <div>
    <span>상세주소: </span>
    <input type="text" name="address2" id="address2">
  </div>
  <div>
    <span>성별: </span>
    <label><input type="radio" name="memberGender" value="M">남성</label>
    <label><input type="radio" name="memberGender" value="F">여성</label>
  </div>
  <div>
    <span>생년월일: </span>
    <input type="date" name="memberBirthday" pattern="\d{4}-\d{2}-\d{2}" required>
  </div>

  <div>
    <span>합격 유형: </span>
    <!-- 선택한 유형을 selectedField로 설정 -->
    <select name="selectedField">
      <option value="수시-논술">수시-논술</option>
      <option value="수시-학생부종합전형">수시-학생부종합전형</option>
      <option value="수시-교과">수시-교과</option>
      <option value="수시-적성">수시-적성</option>
      <option value="정시">정시</option>
      <option value="정시-실기">정시-실기</option>
    </select>

  </div>
  <div>
    <span>중학교: </span>
    <input type="text" name="tutorMiddleSchool" placeholder="OO중 까지만 입력해주세요">
  </div>
  <div>
    <span>고등학교: </span>
    <input type="text" name="tutorHighSchool" placeholder="OO고 까지만 입력해주세요">
  </div>
  <div>
    <span>대학교: </span>
    <select name="selectedUnivName">
      <option value="서울대학교">서울대학교</option>
      <option value="고려대학교(본캠)">고려대학교(본캠)</option>
      <option value="연세대학교(본캠)">연세대학교(본캠)</option>
      <option value="서강대학교">서강대학교</option>
      <option value="성균관대학교">성균관대학교</option>
      <option value="한양대학교">한양대학교</option>
      <option value="중앙대학교">중앙대학교</option>
      <option value="경희대학교">경희대학교</option>
      <option value="한국외국어대학교">한국외국어대학교</option>
      <option value="서울시립대학교">서울시립대학교</option>
      <option value="국민대학교">국민대학교</option>
      <option value="숭실대학교">숭실대학교</option>
      <option value="세종대학교">세종대학교</option>
    </select>
  </div>

  <div>
    <span>전공: </span>
    <input type="text" name="tutorMajor">
  </div>
  <div>
    <span>전공 학점: </span>
    <input type="number" name="tutorMajorNum">
  </div>

  <div>
    <button>회원가입</button>
  </div>
</form>
</body>
</html>
