<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="common/globalNavAfterLogin"></div>
<div th:replace="common/globalNavBeforeLogin"></div>
<h1>게시글 상세보기</h1>
    <table>
        <thead>
        <tr>
            <th>글 번호</th>
            <th>카테고리</th>
            <th>글 제목</th>
            <th>작성자</th>
            <th>글 내용</th>
            <th>글 등록일</th>
            <th>조회수</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td th:text="${post.postNum}"></td>
            <td th:text="${post.categoryName.getCategoryName()}"></td>
            <td th:text="${post.postTitle}"></td>
            <td th:text="${post.postWriter.getMemberName()}"></td>
            <td th:text="${post.getPostContent()}"></td>
            <td th:text="${post.getPostRegistdDate()}"></td>
            <td th:text="${post.postCount}"></td>
        </tr>
        </tbody>

    </table>
</body>
</html>